#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
#components-form-demo-normal-login .login-form-forgot {
float: right;
}
#components-form-demo-normal-login .login-form-button {
width: 100%;
}

.login-div{
    width: 25%;
    margin-left: 41%;
    padding-top: 6%;
}

.loginTitle{
    text-align: center;
    height: 100px;
    font-size: 40px;
}